1. 커넥션을 만들고
2. 커서를 부여 받고

In [125]:
import sqlite3

In [126]:
con = sqlite3.connect(':memory:')

In [127]:
cur = con.cursor()

cur.execute('') # SQL문 1개
cur.executemany() # SQL문 1개가 반복 실행
cur.executescript() # SQL 문 여러개 한번에 실행

In [130]:
cur.execute('CREATE TABLE CITY (CNO INTEGER PRIMARY KEY,  CNAME TEXT)')

In [131]:
cur.execute('''
    INSERT INTO CITY (CNO, CNAME)
    VALUES (1, "LONDON") ;
''')

### 데이터 넣어주기

In [132]:
# 칼럼을 지정해주지 않으면 모든 값을 넣어주면 된다. 
cur.execute('''
    INSERT INTO CITY
    VALUES (2, "PARIS")
            ''')

In [133]:
# 특정 칼럼에만 넣기
cur.execute('''
    INSERT INTO CITY (CNAME)
    VALUES ("ROME")
            ''')

In [134]:
# PK에 NULL을 넣으면 어떻게 될까?
cur.execute('''
    INSERT INTO CITY
    VALUES (NULL, "ROME")
            ''')

In [135]:
### 패치해주기

cur.fetchone() # 1개 가져오기
cur.fetchmany() # N개 가져오기
cur.fetchall() # 모두 가져오기

[]

In [136]:
cur.execute('SELECT * FROM CITY')

In [137]:
cur.fetchall()

# note: 데이터가 많은 경우 all을 쓰지 않는 경우가 많다.

[(1, 'LONDON'), (2, 'PARIS'), (3, 'ROME'), (4, 'ROME')]

In [139]:
cur.execute('''
    CREATE TABLE SUPPLIER(
            SNO INTEGER PRIMARY KEY,
            SNAME TEXT,
            CNO INTGER NOT NULL
    )
            ''')

OperationalError: table SUPPLIER already exists

변수를 사용하기
1. qmark ?로 넣어주기

2. named k :v

In [140]:
# qmark를 사용해서 넣어주기 : sql문 뒤에 ?에 해당하는 변수들을 차례로 넣어주면 된다.
sname = 'Smith'
cno = 1

cur.execute('''
            INSERT INTO SUPPLIER VALUES(NULL, ?, ?)
''', (sname, cno))

In [141]:
cur.execute('SELECT * FROM SUPPLIER')
cur.fetchall()

[(1, 'Smith', 1)]

In [142]:
# 변수를 사용해서 SQL 문을 입력하기
data = (('Jones', 2), ('Adams', 1), ('Blake', 3))
cur.executemany('''
            INSERT INTO SUPPLIER VALUES(NULL, ?, ?) ;
            ''', data)

In [143]:
cur.execute('SELECT * FROM SUPPLIER')
cur.fetchall()

[(1, 'Smith', 1), (2, 'Jones', 2), (3, 'Adams', 1), (4, 'Blake', 3)]

In [146]:
# 2) named 방식

cur.execute('''
    CREATE TABLE PART (
            PNO INTEGER PRIMARY KEY,
            PNAME TEXT
    )
''')

OperationalError: table PART already exists

In [52]:

cur.execute('''
    INSERT INTO PART
            VALUES (:pno, :pname)    
''', {'pno':1, 'pname':'screw', 'asdf':'asdf'})

IntegrityError: UNIQUE constraint failed: PART.PNO

In [54]:
cur.execute('SELECT * FROM PART')
cur.fetchall()

[(1, 'screw')]

In [64]:
data =  {'pname':'Bolt', 'pname':'Nuut'}
cur.executemany('''
    INSERT INTO PART
    VALUES (NULL, :pname)    
''', data)

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 1, and there are 5 supplied.

In [68]:
cur.execute('''
    CREATE TABLE SELLS(
        SNO INTEGER NOT NULL,
        PNO INTEGER NOT NULL,
        PRICE INTEGER NOT NULL
    ) ;

'''
)

In [124]:
# 반복문을 이용해서 SQL문의 데이터를 dict에 넣어주기

CITY = dict()

cur.execute('SELECT * FROM CITY')
for row in cur.fetchall():
    CITY[row[1]] = row[0]
CITY

OperationalError: no such table: CITY

In [82]:
cur.execute('''
    CREATE TABLE SELLS2(
        SNO INTEGER NOT NULL,
        PNO INTEGER NOT NULL,
        PRICE INTEGER NOT NULL
    ) ;

''')

In [83]:
data =[
    (1,2,8),
    (2,4, 38),
    (3, 1, 11),
    (3,3, 6),
    (4, 2, 7),
    (4, 3, 4),
    (4, 4, 45)
]

cur.executemany('INSERT INTO SELLS2 VALUES(?, ?, ?)', data)

In [84]:
cur.execute('SELECT * FROM SELLS2')
cur.fetchall()

[(1, 2, 8),
 (2, 4, 38),
 (3, 1, 11),
 (3, 3, 6),
 (4, 2, 7),
 (4, 3, 4),
 (4, 4, 45)]

In [88]:
cur.execute('SELECT * FROM CITY, SUPPLIER')
cur.fetchall()

[(1, 'LONDON', 1, 'Smith', 1),
 (1, 'LONDON', 2, 'Jones', 2),
 (1, 'LONDON', 3, 'Adams', 1),
 (1, 'LONDON', 4, 'Blake', 3),
 (2, 'PARIS', 1, 'Smith', 1),
 (2, 'PARIS', 2, 'Jones', 2),
 (2, 'PARIS', 3, 'Adams', 1),
 (2, 'PARIS', 4, 'Blake', 3),
 (3, 'ROME', 1, 'Smith', 1),
 (3, 'ROME', 2, 'Jones', 2),
 (3, 'ROME', 3, 'Adams', 1),
 (3, 'ROME', 4, 'Blake', 3),
 (4, 'ROME', 1, 'Smith', 1),
 (4, 'ROME', 2, 'Jones', 2),
 (4, 'ROME', 3, 'Adams', 1),
 (4, 'ROME', 4, 'Blake', 3)]

In [94]:
#73 JOIN 실습
cur.execute('''
            SELECT SUPPLIER.SNAME, CITY.CNAME
            FROM CITY, SUPPLIER
            WHERE CITY.CNO = SUPPLIER.CNO ''')
cur.fetchall()

[('LONDON', 'Smith'),
 ('PARIS', 'Jones'),
 ('LONDON', 'Adams'),
 ('ROME', 'Blake')]

In [ ]:
# 위 테이블에서 지역별 이름과 갯수를 출력하라
cur.execute(
    
)

집계함수
- COUNT
- AVERAGE
-

In [ ]:
# SELL 테이블의 SNO와 PNO를 이름으로 변경하고, PRICE가 가장 높은 상위를 3개를 출력하라
# SELL 테이블의 SNO와 PNO를 이름으로 변경하고, PART를 기준으로 그룹을 지어서 가장 많이 팔린 부품 기준으로 정렬하고 그 가격 합을 구하라

SELECT * FROM A, B WHER A.a = B.b 방식은 CROSS JOIN 데이터가 많아지면 비효율적이다.

In [ ]:
con.close()

# t

In [104]:
con = sqlite3.connect('0905.db')
cur = con.cursor()

In [106]:
cur.execute('''
    CREATE TABLE PART(
        PNO INTEGER PRIMARY KEY,
        PNAME TEXT
    )
''')
# commit의 개념

OperationalError: table PART already exists

In [108]:
cur.executescript('''
    INSERT INTO PART(PNAME) VALUES('Bolt');
    INSERT INTO PART VALUES(NULL, 'Nut');
    INSERT INTO PART VALUES(4, 'Cam');
''')

In [109]:
cur.execute('SELECT * FROM PART')
cur.fetchall()

[(1, 'Screw'), (2, 'Bolt'), (3, 'Nut'), (4, 'Cam')]

[(1, 'Screw'), (2, 'Bolt'), (3, 'Nut'), (4, 'Cam')]

In [113]:
# DB Browser for SQLite 활용하기 (다운 완료)

SyntaxError: invalid syntax (305459929.py, line 1)

In [117]:
con.execute('''
            INSERT INTO PART VALUES(5, 'part1');
            ''')

In [118]:
con.close()

In [119]:
con = sqlite3.connect('0905.db')
cur = con.cursor()

In [121]:
cur.execute('SELECT * FROM PART')
cur.fetchall()

[(1, 'Screw'), (2, 'Bolt'), (3, 'Nut'), (4, 'Cam')]

In [157]:
con.close()

In [158]:
con = sqlite3.connect("0905.db")

In [159]:
cur = con.cursor()

In [161]:
cur.executescript('''
    CREATE TABLE MAP(
        PK INTEGER NOT NULL UNIQUE,
        NAME TEXT NOT NULL)
    ;
    
    INSERT INTO TEMP VALUES (1, "테스트1") ;
    )
''')

OperationalError: database is locked

In [162]:
con.close()

In [163]:
con = sqlite3.connect('sns.db')
cur = con.cursor()

In [164]:
# 3가지 테이블 만들기
cur.executescript('''
    CREATE TABLE POST(
        PK INTEGET PRIMARKY KEY,
        CONTENT TEXT
    );

    CREATE TABLE HASHTAG(
        PK INTEGER PRIMARY KEY,
        COUNT INTEGER DEFAULT 0,
        NAME TEXT
    );

    CREATE TABLE POSTTAG(
        PPK INTEGER NOT NULL,
        HPK INTEGER NOT NULL
    );
''')

In [ ]:
# 해쉬태그 풀을 만들고, 풀에 있으면 PK, 없으면 새롭게 INSERT
data ={'tag':'Python'}

cur.execute('''SELECT PK FROM HASHTAG 
    WHERE NAEM =:tag
    LIMIT 0, 1''', data)

rst = cur.fetchone()

## ORM

ORM

In [169]:
from sqlalchemy import create_engine, MetaData
from sqlalchemy.schema import Table, Column, ForeignKey
from sqlalchemy.types import Integer, Text

In [167]:
engine = create_engine('sqlite:///:memory:', echo = True) # DBMS에 따라 옵션이 다르다, 우리는 SQLite

In [170]:
meta = MetaData()

In [172]:
user = Table('USER', meta, 
    Column('pk', Integer, primary_key = True),
    Column('NAME', Text)
    )

In [174]:
meta.create_all(engine)

2023-09-05 12:24:41,920 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-05 12:24:41,923 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("USER")
2023-09-05 12:24:41,923 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-05 12:24:41,924 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("USER")
2023-09-05 12:24:41,925 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-05 12:24:41,926 INFO sqlalchemy.engine.Engine
CREATE TABLE "USER" (
	pk INTEGER NOT NULL,
	"NAME" TEXT,
	PRIMARY KEY (pk)
)


2023-09-05 12:24:41,928 INFO sqlalchemy.engine.Engine [no key 0.00063s] ()
2023-09-05 12:24:41,929 INFO sqlalchemy.engine.Engine COMMIT