In [ ]:
import numpy as np

### Structured Array

- 컬럼별 이름과 데이터 타입을 설정해 줄 수 있다.
- U10 : 유니코드 10글자까지
- i4 : intger 4바이트, 32비트까지 지정 가능
- f4 : float 32

In [ ]:
x = np.array([
    ('Rex', 9, 81.0 ), ('Fido', 3, 27.0)],
    dtype = [('name', 'U10'), ('age', 'i4'), ('weight', 'f4')])

In [ ]:
from sklearn.pipeline import Pipeline

In [ ]:
x['name']

In [ ]:
x[['name']]

In [ ]:
x.name

In [ ]:
xx = np.rec.array([
    ('Rex', 9, 81.0 ), ('Fido', 3, 27.0)],
    dtype = [('name', 'U10'), ('age', 'i4'), ('weight', 'f4')])

In [ ]:
xx.name

# pandas

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
tips = sns.load_dataset('tips')

In [ ]:
tips

In [ ]:
dir(tips) # __array__을 갖고 있다 => numpy 기반으로 만들어져 있다. (레코드 어레이 기반)

In [ ]:
tips.dtypes

In [ ]:
tips.tip

In [ ]:
tips[['sex', 'tip']]

In [ ]:
tips[['tip', 'size']].mean(axis = 1)

In [ ]:
tips.select_dtypes(['float64', 'category'])

In [ ]:
tips.filter(regex = 'y$')

In [ ]:
tips.loc[0]

In [ ]:
print(tips.loc[0]) # 행 이름 기반으로 인덱싱
print("_______")
print(tips.iloc[0]) # 인덱스기반으로 인덱싱

In [ ]:
data = tips.iloc[10:20]

In [ ]:
data.iloc[15:17]

In [ ]:
data.loc[15:17]

In [ ]:
tips.columns

In [ ]:
tips.loc[10:20, 'tip':'size'] # 라벨명을 기준으로 하는 인덱싱

In [ ]:
tips.iloc[10:21, 1:3] # 인덱스를 기반으로 하는 iloc

In [ ]:
tips.at[10, 'day']

In [ ]:
tips.iat[11, 4]

In [ ]:
tips.sex.value_counts().plot.pie()

In [ ]:
tips.rename({'size': 'ssize'}) # 바뀌지 않는다
tips.rename({'size': 'ssize'}, axis = 1) # 축 방향을 지정해줘야한다.
tips.rename({'size': 'ssize'}, axis = 1, inplace = True) # 재할당을 해주지 않아도 되려면 
tips.rename(columns={'ssize' : 'size_'})

In [ ]:
tips

In [ ]:
tips.drop('ssize', axis = 1, inplace = True)
tips

In [ ]:
tips.drop(columns = ['sex', 'smoker'])\
    .drop(columns = 'tip')\
    .rename(columns= {'total_bill' : '지출'})

In [ ]:
import seaborn as sns
tips = sns.load_dataset('tips')

In [ ]:
tips.describe()

In [ ]:
##파일 저장하기 
x = [ 1, 2, 3]

with open('list.p', 'wb') as f:
    f.write(x) # 오류가 나온다 => 문자열만 저장할 수 있다

In [83]:
##파일 저장하기 (2)
x = '''[ 1, 2, 3]'''

with open('list.p', 'wb') as f:
    f.write(x) # 오류가 나온다

TypeError: a bytes-like object is required, not 'str'

In [85]:
x = b'abc'

type(x)

bytes

In [87]:

# serialiaable 직렬화 
import pickle
x = [1, 2, 3, 4]
with open('list.p', 'wb') as f:
    pickle.dump(x. f)

AttributeError: 'list' object has no attribute 'f'

In [88]:
import pickle

# 예제 데이터: 딕셔너리
data = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

# 파일에 저장
with open("data.pkl", "wb") as file:
    pickle.dump(data, file)

print("Data serialized and saved to data.pkl")

Data serialized and saved to data.pkl

In [89]:
%%writefile tt.a
1 2 3 4 5
6 7 8 9 10

Writing tt.a

In [91]:
np.loadtxt('tt.a')

array([[ 1.,  2.,  3.,  4.,  5.],
       [ 6.,  7.,  8.,  9., 10.]])

In [92]:
%%writefile tt.b
1 2 3 4 5
6 7 8 9

Writing tt.b

In [94]:
pd.read_csv('tt.a')

    1 2 3 4 5
0  6 7 8 9 10