9.6 수요일

https://docs.python.org/3/howto/functional.html

In [2]:
import dis

def x():
    for i in [1, 2, 3]:
        print(i)

In [5]:
dis.dis(x)

  3           0 RESUME                   0

  4           2 LOAD_CONST               1 ((1, 2, 3))
              4 GET_ITER
        >>    6 FOR_ITER                17 (to 42)
              8 STORE_FAST               0 (i)

  5          10 LOAD_GLOBAL              1 (NULL + print)
             22 LOAD_FAST                0 (i)
             24 PRECALL                  1
             28 CALL                     1
             38 POP_TOP
             40 JUMP_BACKWARD           18 (to 6)

  4     >>   42 LOAD_CONST               0 (None)
             44 RETURN_VALUE

In [6]:
# 
def f(n) :
	if n == 1 or n == 2 :
		return 1
	return f(n-1) + f(n-2)

In [8]:
f(20)

6765

In [9]:
[x+2 for x in range(1, 11) if x%2 ==0]

[4, 6, 8, 10, 12]

In [10]:
[x if x %2 ==0 else '' for x in range(1, 11)]

['', 2, '', 4, '', 6, '', 8, '', 10]

In [11]:
[(x, y) for x in range(5) for y in range(6,10)]

[(0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9)]

In [13]:
t = (x for x in range(10))
t

In [14]:
def yy() :
	yield from [1, 2, 3, 4, 5]

a = yy()

1

In [18]:
next(a)

5

In [26]:
x= enumerate('abc')

In [29]:
next(x)

(2, 'c')

In [22]:
t = zip([1, 2, 3], [4, 4, 5]) # zip(*iterable) : 가변

(1, 4)

In [24]:
next(t)

(3, 5)